.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 16px;
}

.title {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 2px solid #9f7aea;
  border-radius: 8px;
  overflow: hidden;
  font-family: sans-serif;
}

.searchInput {
  width: 596px;
  outline: none;
  background-color: transparent;
  color: black;
  font-size: 0.875rem;
  border: none;
}

.icon {
  border-color: #9f7aea;
  margin-right: 16px;
}

.size {
  font-size: 24px;
}

.selectContainer {
  display: block;
}

.notesContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 600px;
}

.noNotesMessage {
  text-align: center;
  font-size: 1.25rem;
  color: #a0aec0;
}

.noteItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 2px solid #805ad5;
}

.checkbox {
  margin-right: 8px;
}

.check {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.editInput {
  width: 100%;
  border-bottom: 2px solid #9f7aea;
  outline: none;
  border: none;
}

.noteLabel {
  font-size: 0.875rem;
  font-weight: bold;
}

.iconContainer {
  display: flex;
  gap: 16px;
}

.modalContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.noteContent {
  display: flex;
  align-items: center;
  flex: 1;
}

.noteActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.pageContainer {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
  overflow: hidden;
}

.todoContainer {
  background-color: #fff;
  padding: 4em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cursor {
  cursor: pointer;
}
